<%- include ('../../partials/header'); -%>
<%- include ('../../partials/navbar'); -%>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigos</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input class="form-control" type="text" name="title" placeholder="Defina um título para o artigo"><br>
                <textarea name="body" class="form-control" id="article" placeholder="Descreva o artigo aqui" rows="8"></textarea><br>
                <label>Categorias</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.id%>"> <%= category.title %></option>
                    <% }) %>
                </select><br>
                <button class="btn btn-success">Salvar artigo</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer'); -%>

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print hr searchreplace wordcount fullscreen insertdatetime media save emoticons table'
        ]
    })
</script>